<div class = "container">
<header class ="listing">
	<div  class = "links">
		<div class ="homelink"> Home </div>
		<div class ="bloglink"> Me blog :) </div>
		<div class = "aboutme"> About Mezz </div>
	</div>
</header>
	<section id= "scoller" class="scroller"></section>
	<div class =" sidebyside">
		<section id= "myblog" class ="bloglist"></section>
		<div class ="onebelowtheother">
			<section id = "twitterfeed" class = "twittersec"></section>
			<footer class ="home"></footer>
		</div>
	</div>
</div>