<div class ="container">

<header class ="block">
	<img src ="/assets/mylogo.png" class="headerlogo" />
	<div class ="alllinks">
	<a href="#">
	<div class = "completelink">
	<p class="headerlink">Who am i</p>
	<p class="about"> About </p>
	</div>
	</a>
	<a href="#">
	<div class = "completelink">
	<p class="headerlink">What i do</p>
	<p class="about"> Services </p>
	</div>
	</a>
	<a href="#">	
	<div class = "completelink">
	<p class="headerlink">What i am upto</p>
	<p class="about"> Journal </p>
	</div>
	</a>
	<a href="#">
	<div class = "completelink">
	<p class="headerlink">What i've done</p>
	<p class="about"> Portfolio </p>
	</div>
	</a>
	</div>
</header>

<div id= "midsection" class ="bodysection">
	<div id="shoutout" class="shoutout">
		<h3>Gimme a shoutout</h3>
		<p>Hola! from me. Leave me a shoutout while your here</p>
	</div>
	<div id="servicelisting" class ="servicelisting">
		<h3>At ur disposal</h3>
		 <p></p>
	</div>
	<div id="contactme" class ="contactme">
		<h3>Talk to me</h3>
		<p>Give ways to contact me</p>
	</div>
</div>

<footer>
</footer>
</div>
