<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Gestures</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
         </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


<div class = "container">
<ul id="upload-image-show" class = "image-class">
	
</ul>

<ul id "uploadc-image-show" class = "image-class">
	
</ul>

<div id="slideshow">
    <ul class="slides">
       <li><img src="/assets/Gesture/Slide1.jpg" width="1000" height="800" alt="Marsa Alam" /></li>
		<li><img src="/assets/Gesture/Slide2.jpg" width="1000" height="800" alt="Marsa Alam" /></li>
		<li><img src="/assets/Gesture/Slide3.jpg" width="1000" height="800" alt="Marsa Alam" /></li>
		<li><img src="/assets/Gesture/Slide4.jpg" width="1000" height="800" alt="Marsa Alam" /></li>
		<li><img src="/assets/Gesture/Slide5.jpg" width="1000" height="800" alt="Marsa Alam" /></li>
		<li><img src="/assets/Gesture/Slide6.jpg" width="1000" height="800" alt="Marsa Alam" /></li>
		<li><img src="/assets/Gesture/Slide7.jpg" width="1000" height="800" alt="Marsa Alam" /></li>
		<li><img src="/assets/Gesture/Slide8.jpg" width="1000" height="800" alt="Marsa Alam" /></li>
		<li><img src="/assets/Gesture/Slide9.jpg" width="1000" height="800" alt="Marsa Alam" /></li>
    </ul>
    <span id ="previous" class="arrow previous"></span>
    <span id ="next" class="arrow next"></span> 
</div>

<div id ="video-section" class = "video-class">
<video id="my_video_1" class="video-js vjs-default-skin" controls
  preload="auto" width="640" height="264" 
  data-setup="{}">
  <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4'>
</video>
</div>

</div>