<div id="upload-image-show"></div>
<div id="image-slide-show"></div>

<div id ="video-section">
<video id="my_video_1" class="video-js vjs-default-skin" controls
  preload="auto" width="640" height="264" 
  data-setup="{}">
  <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4'>
</video>
</div>