<div class ="container">
<div class="body1">
	<div class="body2">
		<div class="main">
			<header>

					<div class="left span-12">
						<%= image_tag "companylogo2.gif" , class: "logo-class" %>
					</div>

			</header>
			</div>
		</div>
	</div>
	<div class="body3">
		<div class="body4">
			<div class="main">
			</div>
		</div>
	</div>
<!-- / header -->
<!-- content -->
	<div class="body5">
		<div class="body6">
			<div class="main">
				<div class="wrapper span-12">
					<h4>Savethylife is the next generation tele-medicine services. Our sole purpose is to improve medical service to the people around the world.
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>