<div class ="container">

<header class ="block">
	<img src ="/assets/logo.jpg" class="headerlogo" />
	<div class ="alllinks">
	<!-- <a href="#">
	<div class = "completelink">
	<p class="headerlink">Why do we do this</p>
	<p class="about"> About </p>
	</div>
	</a>
	<a href="#">
	<div class = "completelink">
	<p class="headerlink">What do we do</p>
	<p class="about"> Services </p>
	</div>
	</a> -->
	
	</div>
</header>

<div id= "midsection" class ="bodysection">
	<div id="shoutout" class="shoutout about">
		<!-- <h3>Gimme us a shoutout</h3>
				<p>Hola! from me. Leave me a shoutout while your here</p> -->
		Coming sooooonnnn... :)
	</div>
	<!-- <div id="servicelisting" class ="servicelisting">
		<h3>At ur disposal</h3>
		 <p></p>
	</div>	 -->
</div>

<footer>
</footer>
</div>
