// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background:#ffffff url(furley_bg.png);
	margin: 0;
	padding: 0;

}
.nivoSlider {
    position:relative;
    width:960px; /* Change this to your images width */
    height:400px; /* Change this to your images height */
    background:url(loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.container {
	width: 960px;
	margin: 0 auto 0 auto;
	text-align: left;
}

.sidebyside{
	float:left;
	position:relative;
}
.bloglist {
	width:450px;
	height:400px;
	float:left;
	margin-right:20px;
	margin-top:20px;
	background: #f5eaea;
	filter:alpha(opacity=70);
	-moz-opacity:.70;
	opacity:.70;
	display:block;
	
}

.scroller{
	background: black;
	filter:alpha(opacity=30);
	-moz-opacity:.30;
	opacity:.30;
	width:960px;
	height:400px;
}

.onebelowtheother{
	width:450px;
	height:400px;
	float:right;
	margin:20px;
	position:block;
}

.twittersec{
	width:450px;
	height:200px;
	background: #f5eaea;
	filter:alpha(opacity=70);
	-moz-opacity:.70;
	opacity:.70;

}

footer.home{
	width:450px;
	height:200px;
	background: blue;
	filter:alpha(opacity=30);
	-moz-opacity:.30;
	opacity:.30;
	margin: 10px 0 0 0;
	
}

.links {
	display:inline;
	height:30px;
}

.homelink {
	display: inline;
	width : 200px;
}
.bloglink {
	display: inline;
	width : 200px;
	
}

.melink{
	display: inline;
	width : 200px;
	
}