// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header , body , footer {
	display:block;
	float:left;
}
body {
	background:#ffffff url(triangles.png);
	margin: 0;
	padding: 0;

}
.nivoSlider {
    position:relative;
    width:960px; /* Change this to your images width */
    height:400px; /* Change this to your images height */
    background:url(loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.container {
	width: 960px;
	margin: 0 120px 0 100px;

	display:block;
}

.sidebyside{
	float:left;
	position:relative;
}
.sliderimage {
	width:960px;
	height:400px;
	repeat:x;
}
.mainimage{
	width:900px;
	height:600px;
	margin: auto;
	display:block;
	border:5px solid black;
}
