.image-class {
	display:inline;
	width:auto;
}

.download-image{
	width:200px;
	height:200px;
	float:left;
	padding:10px;
}

.video-class {
	display:none;
	margin:auto;
}

body {
	background:#ffffff url(triangles.png);
}
